<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.6.0-beta0003" targetFramework="net4" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net4" />
  <package id="NUnit" version="3.0.0-beta-3" targetFramework="net4" />
  <package id="NUnit.Console" version="3.0.0-beta-3" targetFramework="net4" developmentDependency="true" />
</packages>